---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
	title?: string;
	description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="ko">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="bg-bg-base text-text-base antialiased flex flex-col min-h-screen">
		<Header />
		<main class="flex-grow w-full max-w-7xl mx-auto px-6 py-12 md:py-24" transition:animate="fade">
			<slot />
		</main>
		<Footer />
	</body>
</html>
